* {
 box-sizing: border-box;
}

body {
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 0;
 min-height: 100vh;
}
.carousel {
 box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
 overflow: hidden; 
 height: 500px;
 width: 500px;
 transition: transform 0.3s linear;
 transform: translateX(0);
}

.image-container {
display: flex;
}

img {
 width:500px;
 height: 500px;
 object-fit: cover;
}